
@model IEnumerable<Eiga.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Movie</h2>

<p>
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
</p>

<table id ="movies" class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Movies</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
           var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/moviesapi",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "movieName",
                        render: function (data, type, movie) {
                            return "<a href='/movies/edit/" + movie.movieId + "'>" + movie.movieName + "</a>";
                        }
                    },
                    {
                        data: "genre.genreName"
                    },
                    {
                        data: "movieId",
                        render: function (data) {
                            return "<button class= 'btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#movies").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this movie?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/moviesapi/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                                }

                            });
                        }
                    });
            });
        });
    </script>
}
